pipeline/ADF_GEN_COLLECT.json
{
	"name": "ADF_GEN_COLLECT",
	"properties": {
		"activities": [
			{
				"name": "ForEach File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Check FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json(activity('Check FileName').output.Response)",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy To WorkingDir",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ADF_GEN_COPY_FILE",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SOURCE_STORAGE_ACCOUNT": {
										"value": "@pipeline().parameters.ReceiptConfig.StorageAccount",
										"type": "Expression"
									},
									"SOURCE_FILESHARE": {
										"value": "@pipeline().parameters.ReceiptConfig.FileShare",
										"type": "Expression"
									},
									"SOURCE_COLLECTION_DIR": {
										"value": "@pipeline().parameters.ReceiptConfig.CollectionDirectory",
										"type": "Expression"
									},
									"SOURCE_FILEMASK": {
										"value": "@item()",
										"type": "Expression"
									},
									"SOURCE_FILE_MODIFIED_THRESHOLD": {
										"value": "@pipeline().parameters.ReceiptConfig.FileModifiedThreshold",
										"type": "Expression"
									},
									"SOURCE_DELETE_AFTER_COLLECT": {
										"value": "@pipeline().parameters.ReceiptConfig.DeleteAfterCollect",
										"type": "Expression"
									},
									"SOURCE_COLLECT_FROM_SUBFOLDERS": {
										"value": "@pipeline().parameters.ReceiptConfig.CollectFromSubFolders",
										"type": "Expression"
									},
									"SINK_STORAGE_ACCOUNT": {
										"value": "@pipeline().globalParameters.WORKINGDATA_STORAGE_ACCOUNT",
										"type": "Expression"
									},
									"SINK_FILESHARE": {
										"value": "@pipeline().globalParameters.WORKINGDATA_FILE_SHARE",
										"type": "Expression"
									},
									"SINK_FILEPATH": {
										"value": "@concat(pipeline().globalParameters.WORKINGDATA_ROOT_DIR,pipeline()?.TriggeredByPipelineRunId,'/')",
										"type": "Expression"
									},
									"COPY_TYPE": "WORKING_DIR",
									"SOURCE_TYPE": "AFS",
									"SINK_TYPE": "ABS",
									"SOURCE_AKV_SECRET_NAME": {
										"value": "@pipeline().globalParameters.SA_KEY_SECRET_NAME",
										"type": "Expression"
									},
									"SINK_AKV_SECRET_NAME": {
										"value": "@pipeline().globalParameters.SA_KEY_SECRET_NAME",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Lookup ArchiveProducer",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Copy To WorkingDir",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureTableSource",
									"azureTableSourceQuery": {
										"value": "@concat('Producer eq ''',pipeline().parameters.ReceiptConfig.Producer,''' and TransactionType eq ''',pipeline().parameters.ReceiptConfig.TransactionType,''' and ConfigId eq ',pipeline().parameters.ReceiptConfig.ConfigID,'')",
										"type": "Expression"
									},
									"azureTableSourceIgnoreTableNotFound": false
								},
								"dataset": {
									"referenceName": "ADF_GEN_ATS",
									"type": "DatasetReference",
									"parameters": {
										"atsTableName": {
											"value": "@pipeline().globalParameters.CODELISTS_ARCHIVE_PRODUCER_TABLE",
											"type": "Expression"
										},
										"akvBaseURL": {
											"value": "@pipeline().globalParameters.AKV_BASE_URL",
											"type": "Expression"
										},
										"atsStorageAccountKeySecretName": {
											"value": "@pipeline().globalParameters.SA_KEY_SECRET_NAME",
											"type": "Expression"
										},
										"atsStorageAccountName": {
											"value": "@pipeline().globalParameters.CODELISTS_STORAGE_ACCOUNT",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Get WokingDirFilePath",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Lookup ArchiveProducer",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://management.azure.com/subscriptions/@{pipeline().globalParameters.SUBSCRIPTION_ID}/resourceGroups/@{pipeline().globalParameters.RESOURCE_GROUP_NAME}/providers/Microsoft.DataFactory/factories/@{pipeline().DataFactory}/pipelineruns/@{activity('Copy To WorkingDir').output.pipelineRunId}/queryActivityruns?api-version=2018-06-01",
									"type": "Expression"
								},
								"method": "POST",
								"body": {
									"value": "{\n    \"lastUpdatedAfter\":\"\",\n    \"lastUpdatedBefore\":\"@{utcNow()}\",\n        \"filters\": [\n\t\t{\n\t\t\t\"operand\": \"ActivityName\",\n\t\t\t\"operator\": \"Equals\",\n\t\t\t\"values\": [\n\t\t\t\t\"Set SINK_FILE_PATH\"\n\t\t\t]\n\t\t}\n\t]\n}",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": {
										"value": "@pipeline().globalParameters.RESOURCE",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Copy To Archive",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Get WokingDirFilePath",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ADF_GEN_COPY_FILE",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SOURCE_TYPE": "ABS",
									"SOURCE_STORAGE_ACCOUNT": {
										"value": "@pipeline().globalParameters.WORKINGDATA_STORAGE_ACCOUNT",
										"type": "Expression"
									},
									"SOURCE_AKV_SECRET_NAME": {
										"value": "@pipeline().globalParameters.SA_KEY_SECRET_NAME",
										"type": "Expression"
									},
									"SOURCE_FILESHARE": {
										"value": "@pipeline().globalParameters.WORKINGDATA_FILE_SHARE",
										"type": "Expression"
									},
									"SOURCE_COLLECTION_DIR": {
										"value": "@activity('Get WokingDirFilePath').output.value[0].output.value",
										"type": "Expression"
									},
									"SOURCE_FILEMASK": {
										"value": "@item()",
										"type": "Expression"
									},
									"SOURCE_FILE_MODIFIED_THRESHOLD": {
										"value": "@pipeline().parameters.ReceiptConfig.FileModifiedThreshold",
										"type": "Expression"
									},
									"SOURCE_DELETE_AFTER_COLLECT": {
										"value": "false",
										"type": "Expression"
									},
									"SOURCE_COLLECT_FROM_SUBFOLDERS": {
										"value": "@pipeline().parameters.ReceiptConfig.CollectFromSubFolders",
										"type": "Expression"
									},
									"SINK_TYPE": "AFS",
									"SINK_STORAGE_ACCOUNT": {
										"value": "@activity('Lookup ArchiveProducer').output.firstRow.AFSStorageAccount",
										"type": "Expression"
									},
									"SINK_AKV_SECRET_NAME": {
										"value": "@pipeline().globalParameters.SA_KEY_SECRET_NAME",
										"type": "Expression"
									},
									"SINK_FILESHARE": {
										"value": "@activity('Lookup ArchiveProducer').output.firstRow.AFSArchiveFileShare",
										"type": "Expression"
									},
									"SINK_FILEPATH": {
										"value": "@activity('Lookup ArchiveProducer').output.firstRow.ArchiveDirectory",
										"type": "Expression"
									},
									"COPY_TYPE": "ARCHIVE"
								}
							}
						}
					]
				}
			},
			{
				"name": "Check FileName",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": {
						"value": "@pipeline().globalParameters.REGEX_FILENAME_MATCH_FUNCTION_NAME",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "@json(concat('{\"files\":',string(pipeline().parameters.FileList),',\"pattern\": \"',string(pipeline().parameters.ReceiptConfig.FileMask),'\"'))",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ADF_GEN_FUNCTION",
					"type": "LinkedServiceReference",
					"parameters": {
						"functionAppURL": {
							"value": "@pipeline().globalParameters.REGEX_FILENAME_MATCH_FUNCTION_APP_URL",
							"type": "Expression"
						},
						"secretName": {
							"value": "@pipeline().globalParameters.REGEX_FILENAME_MATCH_FUNCTION_SECRET_NAME",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"FileList": {
				"type": "array"
			},
			"ReceiptConfig": {
				"type": "object"
			}
		},
		"variables": {
			"SINK_FILE_PATH": {
				"type": "String"
			}
		},
		"folder": {
			"name": "GENERIC"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-02T01:16:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}