itx-adf5214/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "itx-adf5214"
		},
		"ADF_GEN_ABS_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ADF_GEN_ABS'",
			"defaultValue": "DefaultEndpointsProtocol=https;AccountName=@{linkedService().storageAccountName};"
		},
		"ADF_GEN_AFS_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ADF_GEN_AFS'",
			"defaultValue": "DefaultEndpointsProtocol=https;AccountName=@{linkedService().storageAccount};"
		},
		"ADF_GEN_ATS_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ADF_GEN_ATS'",
			"defaultValue": "DefaultEndpointsProtocol=https;AccountName=@{linkedService().storageAccountName};"
		},
		"TEST_AFS_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'TEST_AFS'",
			"defaultValue": "DefaultEndpointsProtocol=https;AccountName=@{linkedService().storageAccount};"
		},
		"ADF_GEN_AKV_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://adf-gen-akv.vault.azure.net/"
		},
		"ADF_GEN_FUNCTION_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "@{linkedService().functionAppURL}"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/TEST_GET_PIPELINE_OUTPUT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://management.azure.com/subscriptions/@{pipeline().parameters.SubscriptionId}/resourceGroups/@{pipeline().parameters.ResourceGroupName}/providers/Microsoft.DataFactory/factories/@{pipeline().parameters.DataFactoryName}/pipelineruns/@{pipeline().parameters.PipelineRunId}/queryActivityruns?api-version=2018-06-01",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"lastUpdatedAfter": "2018-06-16T00:36:44.3345758Z",
								"lastUpdatedBefore": "2023-06-16T00:49:48.3686473Z"
							},
							"authentication": {
								"type": "MSI",
								"resource": {
									"value": "@pipeline().parameters.Resource",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SubscriptionId": {
						"type": "string",
						"defaultValue": "7344a1c7-35fe-48aa-9793-8b6968225662"
					},
					"ResourceGroupName": {
						"type": "string",
						"defaultValue": "adf"
					},
					"DataFactoryName": {
						"type": "string",
						"defaultValue": "itx-adf5214"
					},
					"PipelineRunId": {
						"type": "string",
						"defaultValue": "8395084c-f9e5-40d9-b3f3-25bbb24ac96e"
					},
					"Resource": {
						"type": "string",
						"defaultValue": "https://management.azure.com"
					}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TEST_WEBHOOK')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WebHook1",
						"type": "WebHook",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"url": "https://36a4-2600-1700-3220-3680-8a5-1458-d709-bbcd.ngrok.io/api/ItxAsync_HttpStart",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"itxUri": "http://localhost:5214/itx-rs/v1/maps/direct/",
								"frameworkMap": {
									"name": "ADF_GEN_FMWK",
									"audit": true,
									"trace": false,
									"inputCard": 1,
									"outputCard": 2
								},
								"runMap": {
									"name": "ADF_EMPLOYEES_JSON2XML",
									"audit": true,
									"trace": true,
									"waitSeconds": 5,
									"maxRetries": 1,
									"inputs": [
										{
											"cardNumber": 1,
											"source": "FILE",
											"file": "/data/tmp/ADF_EMPLOYEES_JSON2XML/employees.json"
										}
									],
									"outputs": [
										{
											"cardNumber": 2,
											"source": "FILE",
											"file": "/data/tmp/ADF_EMPLOYEES_JSON2XML/employees2.xml"
										}
									]
								}
							},
							"timeout": "00:10:00",
							"reportStatusOnCallBack": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF_GEN_AKV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "ADF_GEN_AKV",
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ADF_GEN_AKV_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF_GEN_ABS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"storageAccountName": {
						"type": "string"
					},
					"storageAccountKeySecretName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ADF_GEN_ABS_connectionString')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ADF_GEN_AKV",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "@linkedService().storageAccountKeySecretName",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADF_GEN_AKV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF_GEN_AFS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"akvSecretname": {
						"type": "string"
					},
					"storageAccount": {
						"type": "string"
					},
					"fileShare": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureFileStorage",
				"typeProperties": {
					"connectionString": "[parameters('ADF_GEN_AFS_connectionString')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ADF_GEN_AKV",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "@linkedService().akvSecretname",
							"type": "Expression"
						}
					},
					"fileShare": "@{linkedService().fileShare}"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADF_GEN_AKV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF_GEN_ATS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "ADF_GEN_ATS",
				"parameters": {
					"akvBaseURL": {
						"type": "string"
					},
					"storageAccountKeySecretName": {
						"type": "string"
					},
					"storageAccountName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureTableStorage",
				"typeProperties": {
					"connectionString": "[parameters('ADF_GEN_ATS_connectionString')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ADF_GEN_AKV",
							"type": "LinkedServiceReference",
							"parameters": {}
						},
						"secretName": {
							"value": "@linkedService().storageAccountKeySecretName",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADF_GEN_AKV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF_GEN_FUNCTION')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"functionAppURL": {
						"type": "string"
					},
					"secretName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('ADF_GEN_FUNCTION_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ADF_GEN_AKV",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "@linkedService().secretName",
							"type": "Expression"
						}
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADF_GEN_AKV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TEST_AFS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"akvBaseURL": {
						"type": "string"
					},
					"akvSecretname": {
						"type": "string"
					},
					"storageAccount": {
						"type": "string"
					},
					"fileShare": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureFileStorage",
				"typeProperties": {
					"connectionString": "[parameters('TEST_AFS_connectionString')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ADF_GEN_AKV",
							"type": "LinkedServiceReference",
							"parameters": {}
						},
						"secretName": {
							"value": "@linkedService().akvSecretname",
							"type": "Expression"
						}
					},
					"fileShare": "@{linkedService().fileShare}"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADF_GEN_AKV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TEST_FUNCTION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Azure Function1",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "RegexFileNameMatch",
							"method": "POST",
							"headers": {},
							"body": {
								"files": [
									{
										"name": "Archive",
										"type": "Folder"
									},
									{
										"name": "TempPartner_F_I_20221127.txt",
										"type": "File"
									},
									{
										"name": "TempPartner_C_I_20221127.txt",
										"type": "File"
									},
									{
										"name": "TempPartner_T_I_20221128.txt",
										"type": "File"
									}
								],
								"pattern": "TempPartner_T_I_.+.txt$"
							}
						},
						"linkedServiceName": {
							"referenceName": "ADF_GEN_FUNCTION",
							"type": "LinkedServiceReference",
							"parameters": {
								"functionAppURL": "https://regexfilenamematch5214.azurewebsites.net",
								"secretName": {
									"value": "@pipeline().globalParameters.REGEX_FILENAME_MATCH_FUNCTION_SECRET_NAME",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-01T02:20:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADF_GEN_FUNCTION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF_GEN_ABS_JSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADF_GEN_ABS",
					"type": "LinkedServiceReference",
					"parameters": {
						"storageAccountName": {
							"value": "@dataset().storageAccountName",
							"type": "Expression"
						},
						"storageAccountKeySecretName": {
							"value": "@dataset().storageAccountKeySecretName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"storageAccountName": {
						"type": "string"
					},
					"storageAccountKeySecretName": {
						"type": "string"
					},
					"Conatiner": {
						"type": "string"
					},
					"Directory": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "GENERIC"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Directory",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().Conatiner",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADF_GEN_ABS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF_GEN_ABS_SINK')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADF_GEN_ABS",
					"type": "LinkedServiceReference",
					"parameters": {
						"storageAccountName": {
							"value": "@dataset().storageAccountName",
							"type": "Expression"
						},
						"storageAccountKeySecretName": {
							"value": "@dataset().storageAccountKeySecretName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"storageAccountName": {
						"type": "string"
					},
					"storageAccountKeySecretName": {
						"type": "string"
					},
					"container": {
						"type": "string"
					},
					"directory": {
						"type": "string"
					}
				},
				"folder": {
					"name": "GENERIC"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADF_GEN_ABS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF_GEN_ABS_SOURCE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADF_GEN_ABS",
					"type": "LinkedServiceReference",
					"parameters": {
						"storageAccountName": {
							"value": "@dataset().storageAccountName",
							"type": "Expression"
						},
						"storageAccountKeySecretName": {
							"value": "@dataset().storageAccountKeySecretName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"storageAccountName": {
						"type": "string"
					},
					"storageAccountKeySecretName": {
						"type": "string"
					},
					"container": {
						"type": "string"
					}
				},
				"folder": {
					"name": "GENERIC"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADF_GEN_ABS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF_GEN_AFS_SINK')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADF_GEN_AFS",
					"type": "LinkedServiceReference",
					"parameters": {
						"akvSecretname": {
							"value": "@dataset().akvSecretname",
							"type": "Expression"
						},
						"storageAccount": {
							"value": "@dataset().storageAccount",
							"type": "Expression"
						},
						"fileShare": {
							"value": "@dataset().fileShare",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"akvSecretname": {
						"type": "string"
					},
					"storageAccount": {
						"type": "string"
					},
					"fileShare": {
						"type": "string"
					},
					"filePath": {
						"type": "string"
					}
				},
				"folder": {
					"name": "GENERIC"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation",
						"folderPath": {
							"value": "@dataset().filePath",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADF_GEN_AFS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF_GEN_AFS_SOURCE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADF_GEN_AFS",
					"type": "LinkedServiceReference",
					"parameters": {
						"akvSecretname": {
							"value": "@dataset().akvSecretname",
							"type": "Expression"
						},
						"storageAccount": {
							"value": "@dataset().storageAccount",
							"type": "Expression"
						},
						"fileShare": {
							"value": "@dataset().fileShare",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"akvSecretname": {
						"type": "string"
					},
					"storageAccount": {
						"type": "string"
					},
					"fileShare": {
						"type": "string"
					}
				},
				"folder": {
					"name": "GENERIC"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADF_GEN_AFS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF_GEN_ATS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADF_GEN_ATS",
					"type": "LinkedServiceReference",
					"parameters": {
						"akvBaseURL": {
							"value": "@dataset().akvBaseURL",
							"type": "Expression"
						},
						"storageAccountKeySecretName": {
							"value": "@dataset().atsStorageAccountKeySecretName",
							"type": "Expression"
						},
						"storageAccountName": {
							"value": "@dataset().atsStorageAccountName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"atsTableName": {
						"type": "string"
					},
					"akvBaseURL": {
						"type": "string"
					},
					"atsStorageAccountKeySecretName": {
						"type": "string"
					},
					"atsStorageAccountName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "GENERIC"
				},
				"annotations": [],
				"type": "AzureTable",
				"schema": [],
				"typeProperties": {
					"tableName": {
						"value": "@dataset().atsTableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADF_GEN_ATS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TEST_AFS_SINK')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TEST_AFS",
					"type": "LinkedServiceReference",
					"parameters": {
						"akvBaseURL": {
							"value": "@dataset().akvBaseURL",
							"type": "Expression"
						},
						"akvSecretname": {
							"value": "@dataset().akvSecretname",
							"type": "Expression"
						},
						"storageAccount": {
							"value": "@dataset().storageAccount",
							"type": "Expression"
						},
						"fileShare": {
							"value": "@dataset().fileShare",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"akvBaseURL": {
						"type": "string"
					},
					"akvSecretname": {
						"type": "string"
					},
					"storageAccount": {
						"type": "string"
					},
					"fileShare": {
						"type": "string"
					},
					"filePath": {
						"type": "string"
					}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation",
						"folderPath": {
							"value": "@dataset().filePath",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/TEST_AFS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TEST_AFS_SOURCE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TEST_AFS",
					"type": "LinkedServiceReference",
					"parameters": {
						"akvBaseURL": {
							"value": "@dataset().akvBaseURL",
							"type": "Expression"
						},
						"akvSecretname": {
							"value": "@dataset().akvSecretname",
							"type": "Expression"
						},
						"storageAccount": {
							"value": "@dataset().storageAccount",
							"type": "Expression"
						},
						"fileShare": {
							"value": "@dataset().fileShare",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"akvBaseURL": {
						"type": "string"
					},
					"akvSecretname": {
						"type": "string"
					},
					"storageAccount": {
						"type": "string"
					},
					"fileShare": {
						"type": "string"
					}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/TEST_AFS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF_GEN_COPY_FILE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set SINK_FILE_PATH",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Check Source and Sink",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "SINK_FILE_PATH",
							"value": {
								"value": "@if(equals(pipeline().parameters.COPY_TYPE,'WORKING_DIR' ),concat(pipeline().parameters.SINK_FILEPATH,pipeline().RunId) , pipeline().parameters.SINK_FILEPATH)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Check Source and Sink",
						"type": "Switch",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@concat(pipeline().parameters.SOURCE_TYPE,'_',\npipeline().parameters.SINK_TYPE)",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "AFS_AFS",
									"activities": [
										{
											"name": "Copy AFS_AFS",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "BinarySource",
													"storeSettings": {
														"type": "AzureFileStorageReadSettings",
														"recursive": {
															"value": "@pipeline().parameters.SOURCE_COLLECT_FROM_SUBFOLDERS",
															"type": "Expression"
														},
														"wildcardFolderPath": {
															"value": "@pipeline().parameters.SOURCE_COLLECTION_DIR",
															"type": "Expression"
														},
														"wildcardFileName": {
															"value": "@pipeline().parameters.SOURCE_FILEMASK",
															"type": "Expression"
														},
														"deleteFilesAfterCompletion": {
															"value": "@pipeline().parameters.SOURCE_DELETE_AFTER_COLLECT",
															"type": "Expression"
														}
													},
													"formatSettings": {
														"type": "BinaryReadSettings"
													}
												},
												"sink": {
													"type": "BinarySink",
													"storeSettings": {
														"type": "AzureFileStorageWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "ADF_GEN_AFS_SOURCE",
													"type": "DatasetReference",
													"parameters": {
														"akvSecretname": {
															"value": "@pipeline().parameters.SOURCE_AKV_SECRET_NAME",
															"type": "Expression"
														},
														"storageAccount": {
															"value": "@pipeline().parameters.SOURCE_STORAGE_ACCOUNT",
															"type": "Expression"
														},
														"fileShare": {
															"value": "@pipeline().parameters.SOURCE_FILESHARE",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "ADF_GEN_AFS_SINK",
													"type": "DatasetReference",
													"parameters": {
														"akvSecretname": {
															"value": "@pipeline().parameters.SINK_AKV_SECRET_NAME",
															"type": "Expression"
														},
														"storageAccount": {
															"value": "@pipeline().parameters.SINK_STORAGE_ACCOUNT",
															"type": "Expression"
														},
														"fileShare": {
															"value": "@pipeline().parameters.SINK_FILESHARE",
															"type": "Expression"
														},
														"filePath": {
															"value": "@if(equals(pipeline().parameters.COPY_TYPE,'WORKING_DIR' ),concat(pipeline().parameters.SINK_FILEPATH,pipeline().RunId) , pipeline().parameters.SINK_FILEPATH)",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "AFS_ABS",
									"activities": [
										{
											"name": "Copy AFS_ABS",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "BinarySource",
													"storeSettings": {
														"type": "AzureFileStorageReadSettings",
														"recursive": {
															"value": "@pipeline().parameters.SOURCE_COLLECT_FROM_SUBFOLDERS",
															"type": "Expression"
														},
														"wildcardFolderPath": {
															"value": "@pipeline().parameters.SOURCE_COLLECTION_DIR",
															"type": "Expression"
														},
														"wildcardFileName": {
															"value": "@pipeline().parameters.SOURCE_FILEMASK",
															"type": "Expression"
														},
														"deleteFilesAfterCompletion": {
															"value": "@pipeline().parameters.SOURCE_DELETE_AFTER_COLLECT",
															"type": "Expression"
														}
													},
													"formatSettings": {
														"type": "BinaryReadSettings"
													}
												},
												"sink": {
													"type": "BinarySink",
													"storeSettings": {
														"type": "AzureBlobStorageWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "ADF_GEN_AFS_SOURCE",
													"type": "DatasetReference",
													"parameters": {
														"akvSecretname": {
															"value": "@pipeline().parameters.SOURCE_AKV_SECRET_NAME",
															"type": "Expression"
														},
														"storageAccount": {
															"value": "@pipeline().parameters.SOURCE_STORAGE_ACCOUNT",
															"type": "Expression"
														},
														"fileShare": {
															"value": "@pipeline().parameters.SOURCE_FILESHARE",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "ADF_GEN_ABS_SINK",
													"type": "DatasetReference",
													"parameters": {
														"storageAccountName": {
															"value": "@pipeline().parameters.SINK_STORAGE_ACCOUNT",
															"type": "Expression"
														},
														"storageAccountKeySecretName": {
															"value": "@pipeline().parameters.SINK_AKV_SECRET_NAME",
															"type": "Expression"
														},
														"container": {
															"value": "@pipeline().parameters.SINK_FILESHARE",
															"type": "Expression"
														},
														"directory": {
															"value": "@if(equals(pipeline().parameters.COPY_TYPE,'WORKING_DIR' ),concat(pipeline().parameters.SINK_FILEPATH,pipeline().RunId) , pipeline().parameters.SINK_FILEPATH)",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "ABS_AFS",
									"activities": [
										{
											"name": "Copy ABS_AFS",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "BinarySource",
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": {
															"value": "@pipeline().parameters.SOURCE_COLLECT_FROM_SUBFOLDERS",
															"type": "Expression"
														},
														"wildcardFolderPath": {
															"value": "@pipeline().parameters.SOURCE_COLLECTION_DIR",
															"type": "Expression"
														},
														"wildcardFileName": {
															"value": "@pipeline().parameters.SOURCE_FILEMASK",
															"type": "Expression"
														},
														"deleteFilesAfterCompletion": {
															"value": "@pipeline().parameters.SOURCE_DELETE_AFTER_COLLECT",
															"type": "Expression"
														}
													},
													"formatSettings": {
														"type": "BinaryReadSettings"
													}
												},
												"sink": {
													"type": "BinarySink",
													"storeSettings": {
														"type": "AzureFileStorageWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "ADF_GEN_ABS_SOURCE",
													"type": "DatasetReference",
													"parameters": {
														"storageAccountName": {
															"value": "@pipeline().parameters.SOURCE_STORAGE_ACCOUNT",
															"type": "Expression"
														},
														"storageAccountKeySecretName": {
															"value": "@pipeline().parameters.SOURCE_AKV_SECRET_NAME",
															"type": "Expression"
														},
														"container": {
															"value": "@pipeline().parameters.SOURCE_FILESHARE",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "ADF_GEN_AFS_SINK",
													"type": "DatasetReference",
													"parameters": {
														"akvSecretname": {
															"value": "@pipeline().parameters.SINK_AKV_SECRET_NAME",
															"type": "Expression"
														},
														"storageAccount": {
															"value": "@pipeline().parameters.SINK_STORAGE_ACCOUNT",
															"type": "Expression"
														},
														"fileShare": {
															"value": "@pipeline().parameters.SINK_FILESHARE",
															"type": "Expression"
														},
														"filePath": {
															"value": "@if(equals(pipeline().parameters.COPY_TYPE,'WORKING_DIR' ),concat(pipeline().parameters.SINK_FILEPATH,pipeline().RunId) , pipeline().parameters.SINK_FILEPATH)",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SOURCE_TYPE": {
						"type": "string"
					},
					"SOURCE_STORAGE_ACCOUNT": {
						"type": "string"
					},
					"SOURCE_AKV_SECRET_NAME": {
						"type": "string"
					},
					"SOURCE_FILESHARE": {
						"type": "string"
					},
					"SOURCE_COLLECTION_DIR": {
						"type": "string"
					},
					"SOURCE_FILEMASK": {
						"type": "string"
					},
					"SOURCE_FILE_MODIFIED_THRESHOLD": {
						"type": "int"
					},
					"SOURCE_DELETE_AFTER_COLLECT": {
						"type": "bool"
					},
					"SOURCE_COLLECT_FROM_SUBFOLDERS": {
						"type": "bool"
					},
					"SINK_TYPE": {
						"type": "string"
					},
					"SINK_STORAGE_ACCOUNT": {
						"type": "string"
					},
					"SINK_AKV_SECRET_NAME": {
						"type": "string"
					},
					"SINK_FILESHARE": {
						"type": "string"
					},
					"SINK_FILEPATH": {
						"type": "string"
					},
					"COPY_TYPE": {
						"type": "string"
					}
				},
				"variables": {
					"SINK_FILE_PATH": {
						"type": "String"
					}
				},
				"folder": {
					"name": "GENERIC"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-02T01:46:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADF_GEN_AFS_SOURCE')]",
				"[concat(variables('factoryId'), '/datasets/ADF_GEN_AFS_SINK')]",
				"[concat(variables('factoryId'), '/datasets/ADF_GEN_ABS_SINK')]",
				"[concat(variables('factoryId'), '/datasets/ADF_GEN_ABS_SOURCE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TEST_ADF_GEN_TRANSLATE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy to AFS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFolderPath": {
										"value": "@pipeline().parameters.FileLocation",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureFileStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ADF_GEN_ABS_SOURCE",
								"type": "DatasetReference",
								"parameters": {
									"storageAccountName": {
										"value": "@pipeline().globalParameters.WORKINGDATA_STORAGE_ACCOUNT",
										"type": "Expression"
									},
									"storageAccountKeySecretName": {
										"value": "@pipeline().globalParameters.SA_KEY_SECRET_NAME",
										"type": "Expression"
									},
									"container": {
										"value": "@pipeline().globalParameters.WORKINGDATA_FILE_SHARE",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ADF_GEN_AFS_SINK",
								"type": "DatasetReference",
								"parameters": {
									"akvSecretname": {
										"value": "@pipeline().globalParameters.ITX_DATA_STORAGE_ACCOUNT_AKV_SECRET_NAME",
										"type": "Expression"
									},
									"storageAccount": {
										"value": "@pipeline().globalParameters.ITX_DATA_STORAGE_ACCOUNT",
										"type": "Expression"
									},
									"fileShare": {
										"value": "@pipeline().globalParameters.ITX_DATA_STORAGE_ACCOUNT_FILESHARE",
										"type": "Expression"
									},
									"filePath": {
										"value": "@replace(pipeline().parameters.FileLocation,pipeline().globalParameters.WORKINGDATA_ROOT_DIR,pipeline().globalParameters.ITX_DATA_STORAGE_ACCOUNT_FILESHARE_ROOTDIR)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Lookup ADFBatchTranslate",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy to AFS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureTableSource",
								"azureTableSourceQuery": {
									"value": "@concat('Producer eq ''',pipeline().parameters.Producer,\r\n''' and TransactionType eq ''',pipeline().parameters.TransactionType,\r\n''' and Consumer eq ''',pipeline().parameters.Consumer,\r\n'''')",
									"type": "Expression"
								},
								"azureTableSourceIgnoreTableNotFound": false
							},
							"dataset": {
								"referenceName": "ADF_GEN_ATS",
								"type": "DatasetReference",
								"parameters": {
									"atsTableName": {
										"value": "@pipeline().globalParameters.CODELISTS_BATCH_TRANSLATE",
										"type": "Expression"
									},
									"akvBaseURL": {
										"value": "@pipeline().globalParameters.AKV_BASE_URL",
										"type": "Expression"
									},
									"atsStorageAccountKeySecretName": {
										"value": "@pipeline().globalParameters.SA_KEY_SECRET_NAME",
										"type": "Expression"
									},
									"atsStorageAccountName": {
										"value": "@pipeline().globalParameters.CODELISTS_STORAGE_ACCOUNT",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "ForEach OutptutConfig",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup ADFBatchTranslate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@split(activity('Lookup ADFBatchTranslate').output.firstRow.DeliverOutputCards,',')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Append Output",
									"type": "AppendVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Output",
										"value": {
											"value": "{\"cardNumber\": @{item()},\"source\": \"FILE\",\"file\": \"@{concat('/data/',pipeline().parameters.FileLocation,'/out',string(item()))}\"}",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Set MapRequest",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ForEach OutptutConfig",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "MapRequest",
							"value": {
								"value": "{\n        \"itxUri\": \"@{pipeline().globalParameters.ITX_RS_URI}\",\n        \"map\": {\n            \"name\": \"@{activity('Lookup ADFBatchTranslate').output.firstRow.MapName}\",\n            \"audit\": true,\n            \"trace\": false,\n            \"waitSeconds\": @{pipeline().globalParameters.ITX_RS_RUNMAP_WAITSECONDS},\n            \"maxRetries\": @{pipeline().globalParameters.ITX_RS_RUNMAP_MAXRETRIES},\n            \"inputs\": [\n                {\n                    \"cardNumber\": 1,\n                    \"source\": \"FILE\",\n                    \"file\": \"@{concat('/data/',pipeline().parameters.FileLocation,'/',pipeline().parameters.FileName)}\"\n                }\n            ],\n            \"outputs\": [@{replace(join(variables('Output'),','),'//','')}]\n        }\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ITX Async WebHook",
						"type": "WebHook",
						"dependsOn": [
							{
								"activity": "Set MapRequest",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@pipeline().globalParameters.ITX_ASYNC_DURABLE_FUNCTION_URL",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "@json(variables('MapRequest'))",
								"type": "Expression"
							},
							"timeout": "00:1:00",
							"reportStatusOnCallBack": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"FileLocation": {
						"type": "string",
						"defaultValue": "workingDir/bcbad2a1-6999-408a-83ae-865b4ee18a07/5c2a12dc-47a4-4979-a91c-3a0813952b59"
					},
					"FileName": {
						"type": "string",
						"defaultValue": "employees.json"
					},
					"Consumer": {
						"type": "string",
						"defaultValue": "EVICORE-MBR"
					},
					"Producer": {
						"type": "string",
						"defaultValue": "TEMPPARTNER"
					},
					"TransactionType": {
						"type": "string",
						"defaultValue": "MBR"
					}
				},
				"variables": {
					"MapRequest": {
						"type": "String"
					},
					"Output": {
						"type": "Array"
					},
					"Json": {
						"type": "Array"
					},
					"Outputs": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADF_GEN_ABS_SOURCE')]",
				"[concat(variables('factoryId'), '/datasets/ADF_GEN_AFS_SINK')]",
				"[concat(variables('factoryId'), '/datasets/ADF_GEN_ATS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TEST_COPY')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"recursive": false,
									"wildcardFolderPath": "TEMPPARTNER/MBR/RawData",
									"wildcardFileName": "TempPartner_T_I_*.txt",
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureFileStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "TEST_AFS_SOURCE",
								"type": "DatasetReference",
								"parameters": {
									"akvBaseURL": "https://adf-gen-akv.vault.azure.net/",
									"akvSecretname": "adfsa5214AccountKey",
									"storageAccount": "adfsa5214",
									"fileShare": "adf-data"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "TEST_AFS_SINK",
								"type": "DatasetReference",
								"parameters": {
									"akvBaseURL": "https://adf-gen-akv.vault.azure.net/",
									"akvSecretname": "adfsa5214AccountKey",
									"storageAccount": "adfsa5214",
									"fileShare": "working",
									"filePath": "WorkingDir"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": [],
				"lastPublishTime": "2022-11-27T17:38:46Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/TEST_AFS_SOURCE')]",
				"[concat(variables('factoryId'), '/datasets/TEST_AFS_SINK')]"
			]
		}
	]
}