itx-adf5214/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "itx-adf5214"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ADF_RECEIPT_AFS_TEMPPARTNER_MBR')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SetProtocol",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ADF_PROTOCOL",
							"value": {
								"value": "@split(pipeline().Pipeline,'_')[2]",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetProducer",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SetProtocol",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ADF_PRODUCER",
							"value": {
								"value": "@split(pipeline().Pipeline,'_')[3]",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetTransType",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SetProducer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ADF_TRANSTYPE",
							"value": {
								"value": "@split(pipeline().Pipeline,'_')[4]",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach ReceiptConfig",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup ADFReceipt Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup ADFReceipt Table').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Collect Files",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Get FileList",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ADF_GEN_COLLECT",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"FileList": {
												"value": "@activity('Get FileList').output.childItems",
												"type": "Expression"
											},
											"ReceiptConfig": {
												"value": "@item()",
												"type": "Expression"
											},
											"Protocol": {
												"value": "@variables('ADF_PROTOCOL')",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Get FileList",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ADF_GEN_AFS_SINK",
											"type": "DatasetReference",
											"parameters": {
												"akvSecretname": {
													"value": "@pipeline().globalParameters.SA_KEY_SECRET_NAME",
													"type": "Expression"
												},
												"storageAccount": {
													"value": "@item().StorageAccount",
													"type": "Expression"
												},
												"fileShare": {
													"value": "@item().FileShare",
													"type": "Expression"
												},
												"filePath": {
													"value": "@item().CollectionDirectory",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"childItems"
										],
										"storeSettings": {
											"type": "AzureFileStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup ADFReceipt Table",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SetTransType",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureTableSource",
								"azureTableSourceQuery": {
									"value": "@concat('Producer eq ''',variables('ADF_PRODUCER'),''' and TransactionType eq ''',variables('ADF_TRANSTYPE'),'''')",
									"type": "Expression"
								},
								"azureTableSourceIgnoreTableNotFound": false
							},
							"dataset": {
								"referenceName": "ADF_GEN_ATS",
								"type": "DatasetReference",
								"parameters": {
									"atsTableName": {
										"value": "@pipeline().globalParameters.CODELISTS_RECEIPT_AFS",
										"type": "Expression"
									},
									"akvBaseURL": {
										"value": "@pipeline().globalParameters.AKV_BASE_URL",
										"type": "Expression"
									},
									"atsStorageAccountKeySecretName": {
										"value": "@pipeline().globalParameters.SA_KEY_SECRET_NAME",
										"type": "Expression"
									},
									"atsStorageAccountName": {
										"value": "@pipeline().globalParameters.CODELISTS_STORAGE_ACCOUNT",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"EVC_PROTOCOL": {
						"type": "String"
					},
					"ADF_PRODUCER": {
						"type": "String"
					},
					"ADF_TRANSTYPE": {
						"type": "String"
					},
					"ADF_PROTOCOL": {
						"type": "String"
					}
				},
				"folder": {
					"name": "PARTNER_SPECIFIC"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-02T01:46:11Z"
			},
			"dependsOn": []
		}
	]
}